


/* ---- particles.js container ---- */


#particles-js {
  padding: 0;
  position: absolute;
  width: 100%;
  height:  450px;

  
}


@media (min-width: 992px) {
#particles-js {

  position: absolute;
  width: 100%;
  height:  100%;
  
  
 
}
}

