

{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="includes/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="includes/css/scrolling-nav.css" rel="stylesheet">
     
     <link rel="stylesheet" media="screen" href="includes/css/styleparticle.css">


     


  </head>

  <body id="page-top">














    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: rgba(0,0,0,0.8);" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">R-Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
              <li class="nav-item">
              <!-- <a class=" btn btn-link" style="color: rgb(21,182,146);" href="#">Anmelden </a> -->
              <a class="nav-link  text-info" href="#contact" data-toggle="modal" data-target="#exampleModalCenter1">Anmelden</a>




              


            </li>
          </ul>
        </div>
      </div>
    </nav>

  



  <header id ="about"  class=" masthead text-center text-white d-flex">


<div id ="particles-js"></div>
 
 

      <div class="container my-auto" >

        <div class="row"  >

          <div  class="col-lg-10 mx-auto" >

            <h1 class="text-uppercase">
              Das ist eine Test Seite
            </h1>
            <h2>Services we offer</h2>
            <hr>
          </div>

          <div class="col-lg-8 mx-auto" >

            <p class="text-faded mb-5"></p>
           <!--  <a class="btn-link " style="color: rgb(255,255,255);" href="#">Anmelden ></a> -->
           <a class ="btn-link" style="color: rgb(255,255,255);"  href="#contact" data-toggle="modal" data-target="#exampleModalCenter1">Anmelden</a>








            <!-- scripts -->
            <script src="includes/js/particles.js"></script>
            <script src="includes/js/app.js"></script>

            <!-- stats.js -->

            {{ template "logintemp" . }}

          </div>
        </div>
      </div>


    </header>


 <section id="services" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 style ="color: white">Services we offer</h2>
            <p style ="color: white" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          </div>
        </div>
      </div>
    </section>

    <section style ="background-color:  #eeebe8;" id="contact" class ="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          </div>
        </div>
      </div>
    </section>



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; :D</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="includes/vendor/jquery/jquery.min.js"></script>
    <script src="includes/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="includes/vendor/jquery-easing/jquery.easing.min.js"></script>

   
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

    <!-- Custom JavaScript for this theme -->
    <script src="includes/js/scrolling-nav.js"></script>
      <script type="text/javascript" src="/includes/js/publicpage.js"></script>
      <link href="includes/js/scrolling-nav.js" rel="stylesheet">

  </body>

</html>
{{ end }}
